*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px 15px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.contact{
    flex: 0 0 auto;
    padding: 10px;
    background-color: #eee;
    position: relative;
}
.contact img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}
.contact .info span:first-child{
    font-size: 18px;
    font-weight: bold;
    display: block;
}
.badge{
    position: absolute;
    background-color: #ccc;
    font-weight: bold;
    border-radius: 4px;
    padding: 2px;
    top: 20px;
    left: 20px;
}